/** @format */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
	padding: 0;
	margin: 0;
}

.logo h1 {
	font-family: "Lobster", cursive;
	font-weight: 300;
}

.adminwrp {
	display: flex;
	gap: 10px;
	/* height: 100vh; */
}

.navitems {
	display: flex;
	flex-direction: column;
}

.adminsidemenu {
	background-color: rgb(250, 250, 250);
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px 3%;
	height: 100vb;
}

.navlinks {
	display: flex;
	flex-direction: column;
	gap: 25px;
	margin-top: 5rem;
}

.navlinks a {
	display: flex;
	align-items: center;
	gap: 10px;
}

.navlinks a span {
	font-size: 25px;
}

.settings {
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
	gap: 25px;
}

.settings a {
	display: flex;
	align-items: center;
	gap: 10px;
}

.settings a span {
	font-size: 25px;
}

.overview {
	width: 80%;
	margin-left: 20%;
	/* background-color: blue; */
}

/* <======= Overview page =========>*/

nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* background-color: black; */
	gap: 20px;
	padding: 5px 2%;
}

.adminsidemenu a {
	color: black;
	text-decoration: none;
}

.navaccounts {
	/* background-color: aquamarine; */
	width: 20%;
	display: flex;
	gap: 10px;
	padding-top: 10px;
}

.img {
	width: 25%;
}

.img img {
	width: 100%;
	border-radius: 100%;
}

.accountname h1 {
	font-size: 20px;
	font-size: 500;
}

.searchbar {
	width: 50%;
	text-indent: 20px;
}

.searchbar input {
	background-color: rgb(247, 247, 247);
	height: 45px;
	width: 100%;
	text-indent: 15px;
	outline: none;
	border: none;
	border-radius: 20px;
	font-size: 15px;
	font-family: "Poppins", sans-serif;
}

.accountname p {
	font-size: 13px;
	color: rgb(141, 141, 141);
}

.hero {
	width: 100%;
	padding: 5px 2%;
}

.hero h1 {
	font-weight: 600;
	font-size: 25px;
}

.carditems {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
}

.card {
	background-color: #e4ffef;
	height: 150px;
	width: 35%;
	padding: 20px 2%;
	border-radius: 20px;
}

.card:nth-child(2) {
	background-color: rgba(232, 238, 249, 1);
}

.card:nth-child(3) {
	background-color: rgba(255, 238, 230, 1);
}

.card h1 {
	font-weight: 600;
	padding-top: 10px;
}

.card p {
	color: rgb(114, 114, 114);
	font-size: 13px;
}

.card span {
	background-color: rgb(0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	/* padding: 20px 20px; */
}

.chartelmnts {
	margin-top: 2rem;
	display: flex;
	gap: 35px;
}

.chart {
	width: 60%;
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: rgb(241, 241, 241); */
}

.accessoryprofile img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.accessorieswrp {
	background-color: rgb(245, 245, 245);
	width: 40%;
	padding: 10px 2%;
	border-radius: 20px;
}

.accessory {
	width: 100%;
}

.accessoryprofile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
}

.profileimg {
	display: flex;
	align-items: center;
	gap: 10px;
}

.adchart {
	width: 100%;
}
